<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApplyVipMapper">
	<insert id="save" parameterType="pd">
		insert into apply_vip(
			APPLYVIP_ID,
			USER_ID,
			NAME,
			PHONE,
			ZHIYE,
			ADDRESS,
			APPLY_DATE,
			QQ,
			CROP,
			SEEK
		)values(
			#{APPLYVIP_ID},
			#{USER_ID},
			#{NAME},
			#{PHONE},
			#{ZHIYE},
			#{ADDRESS},
			#{APPLY_DATE},
			#{QQ},
			#{CROP},
			#{SEEK}
		)
	</insert>
	
	<update id="edit" parameterType="pd">
		update apply_vip
		SET NAME=#{NAME},
			PHONE=#{PHONE},
			ZHIYE=#{ZHIYE},
			ADDRESS=#{ADDRESS},
			APPLY_DATE=#{APPLY_DATE},
			QQ=#{QQ},
			CROP=#{CROP},
			SEEK=#{SEEK},
			USER_ID=#{USER_ID},
			APPLYVIP_ID=#{APPLYVIP_ID}
		where APPLYVIP_ID=#{APPLYVIP_ID}
	</update>
	
	<select id="findById" parameterType="pd" resultType="pd">
		select
			a.APPLYVIP_ID,
			a.USER_ID,
			a.NAME,
			a.PHONE,
			a.ZHIYE,
			a.ADDRESS,
			a.APPLY_DATE,
			a.QQ,
			a.CROP,
			a.SEEK,
			u.USERNAME,
			u.NAME NAME1,
			i.VIP
		from apply_vip a
		LEFT JOIN sys_app_user u on u.USER_ID=a.USER_ID
		LEFT JOIN sys_app_userinfo i on i.USER_ID=u.USER_ID
		where a.APPLYVIP_ID=#{APPLYVIP_ID}
	</select>
	
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.APPLYVIP_ID,
			a.USER_ID,
			a.NAME,
			a.PHONE,
			a.ZHIYE,
			a.ADDRESS,
			a.APPLY_DATE,
			a.QQ,
			a.CROP,
			a.SEEK,
			u.USERNAME,
			u.NAME NAME1,
			u.VIP
		from apply_vip a
		LEFT JOIN sys_app_user u on u.USER_ID=a.USER_ID
		<where>
			<if test="pd.KEYWORD != null and pd.KEYWORD != ''"><!-- 关键词检索 -->
			and
				(
				 a.NAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
				 or
				 a.PHONE LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
				 or
				 u.USERNAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
				)
			</if>
			<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 下单时间检索 -->
				and a.APPLY_DATE &gt;= #{pd.lastLoginStart} 
			</if>
			<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 下单时间检索 -->
				and a.APPLY_DATE &lt;= #{pd.lastLoginEnd} 
			</if>
			<if test="pd.VIP!=null and pd.VIP!=''">
				and u.VIP=#{pd.VIP}
			</if>
			<!-- <if test="pd.VIP==null or pd.VIP==''">
			     and u.VIP=2
			</if> -->
		</where>
		ORDER BY a.APPLY_DATE DESC
	</select>
	
	<delete id="delete" parameterType="pd">
		delete from apply_vip where APPLYVIP_ID=#{APPLYVIP_ID}
	</delete>
	
	
			<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from apply_vip
		where 
			APPLYVIP_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 查询用户-->
	<select id="findList" parameterType="pd" resultType="pd">
	   select
            a.APPLYVIP_ID,
            a.USER_ID,
            a.NAME,
            a.PHONE,
            a.ZHIYE,
            a.ADDRESS,
            a.APPLY_DATE,
            a.QQ,
            a.CROP,
			a.SEEK,
            u.USERNAME,
            u.NAME NAME1,
            i.VIP
        from apply_vip a
        LEFT JOIN sys_app_user u on u.USER_ID=a.USER_ID
        LEFT JOIN sys_app_userinfo i on i.USER_ID=u.USER_ID
        <where>
            <if test="pd.KEYWORD != null and pd.KEYWORD != ''"><!-- 关键词检索 -->
            and
                (
                 a.NAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
                 or
                 a.PHONE LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
                 or
                 u.USERNAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORD}),'%') 
                )
            </if>
            <if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 下单时间检索 -->
                and a.APPLY_DATE &gt;= #{pd.lastLoginStart} 
            </if>
            <if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 下单时间检索 -->
                and a.APPLY_DATE &lt;= #{pd.lastLoginEnd} 
            </if>
            <if test="pd.VIP!=null and pd.VIP!=''">
                and i.VIP=#{pd.VIP}
            </if>
            <if test="pd.VIP==null or pd.VIP==''">
                 and i.VIP=2
            </if>
            </where>
	</select>
	
	<delete id="deleteA" parameterType="pd">
		delete from apply_vip where USER_ID=#{USER_ID}
	</delete>
</mapper>