<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GysMapper">
	<select id="findList" parameterType="pd" resultType="pd">
		select
			GYS,
			NAME
		from gys
	</select>
</mapper>